.coolcp_banner .section
{
  width: 50%;
}

.coolcp_banner h1, .coolcp_banner article
{
  text-align: center;
}

.coolcp_content
{
  padding-bottom: 40px;
}

.coolcp_content h2
{
  margin-left: 40px;
  font-weight: bold;
}

.coolcp_content h3
{
  text-align: center;
}

.coolcp_content article
{
  color: #8a8a8a !important;
}

.coolcp_content .section-footer-btn
{
  text-align: center;
}

.coolcp_section_header
{
  margin: 20px auto 20 auto;
  border-bottom: 1px solid #ececec;
}

.coolcp_section_header .coolcp_section_header_title
{
  margin: 0;
  font-size: 1.5em;
  display: block;
}

.coolcp_tag_links
{
  margin: 5px 10px 0 0;
}

.coolcp_article_img
{
  width: 100%;
  text-align: center;
  margin: 20px auto;
}

.coolcp_section
{
  width: 80%;
  margin: 20px auto 0 auto;
}

.coolcp_footer
{
  text-align: center;
  font-size: 0.5em;
}
