body
{
  background-image: url("../images/banner_bg.jpg");
  background-repeat: no-repeat;
}

#login_content svg
{
  height: 150px;
  width: 150px;
  margin: 15px auto 15px auto;
  text-align: center;
  display: block;
  fill: #ffffff;
  opacity: 0.3;
}

#login_content h3
{
  color: #ffffff;
}
