.table_title
{
	font-size: 1.5em;
	width: 80%;
	margin: 20px auto 0 auto;
	text-align: left; 
	border-bottom: 1px solid #ececec;
}

.table
{
	width: 80%;
	margin: 20px auto;
}
.table th
{
 	font-weight: bold;
}

.table td.text, table tr.text
{
	text-align: left;
}

.table td.num, table tr.num
{
	text-align: right;
}