/* common parts */
.coolcp_banner
{
	height: 200px;
  	background-image: url("../images/banner_bg.jpg");
  	background-repeat: no-repeat;
  	color: #ffffff;
}

/* special parts */
#userSearchBtn, #userCreateBtn
{
	float: right;
	display: inline-block;
	margin: 0 10px 0 0;
}