/* common parts */
.coolcp_banner
{
	height: 200px;
  	background-image: url("../images/banner_bg.jpg");
  	background-repeat: no-repeat;
  	color: #ffffff;
}

/* special parts */
#userSearchBtn, #userCreateBtn, 
#cancelBtn, #userSearchInput, 
#userSearchType,
#userSearchTitle
{
	display: inline-block;
	margin: 0 10px 0 0;
}

#userSearchTitle
{
	font-size: 0.9em;
}

